.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 1px 1px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1px 1px;
}

.committeeTable {
  width: 100%;
}
